* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */

.navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 45px;
}

/* Menu links (Desktop) */
.href-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.href-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.href-links a:first-child {
    color: #7bc043;
}

/* Hamburger hidden on desktop */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}



/* ================= MOBILE ================= */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .href-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        gap: 20px;
        padding: 25px;
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .href-links.active {
        display: flex;
    }
}




/* Image Text */

.main-wrapper {
    max-width: 1400px;
    margin: auto;
    position: relative;
    display: flex;
}

/* LEFT – CAR */
.slide {
    width: 65%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.item {
    position: absolute;
    inset: 0;
    top: 80px;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}

.item img {
    width: 550px;
}

.item h2,
.item p {
    font-size: 32px;
    margin-bottom: 10px;
    margin-left: 80px;
    color: oklch(58.8% 0.158 241.966);
}

/* RIGHT – CARDS */
.cards-wrapper {
    width: 35%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    /* 👇 cards বাম দিকে আনা */
    transform: translateX(-80px);
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card p {
    font-size: 16px;
    margin: 5px 0;
}


/* ================= MOBILE ================= */
@media (max-width: 768px) {
.item img{
    height: 320px;
    width: 320px;
}
 .main-wrapper {
     flex-direction: column;
     align-items: center;
 }

}


/* image design */

.hero {
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    width: 420px;
}

.main-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.maincard {
    position: absolute;
    background: #0d47ff;
    /* blue */
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.4;
    max-width: 220px;
}

.card2 {
    left: -30px;
    top: 15%;
}

.card1 {
    right: 90px;
    top: 55%;
}

@media (max-width: 768px) {
.hero {
        margin-left: 20%;
    }
}